@import 'tailwindcss';

:root {
  /* 배경 */
  --bg-primary: #777777;
  --bg-grid: #8e8e8e;
  --bg-grid-size: 15px;

  /* 폰트 */
  --font-primary: var(--font-pretendard), sans-serif;
  --font-pixel: var(--font-galmuri), sans-serif;
}

body {
  background-color: #767676;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cline x1='20' y1='0' x2='20' y2='20' stroke='%238B8B8B' stroke-width='3' stroke-dasharray='10 3'/%3E%3Cline x1='0' y1='20' x2='20' y2='20' stroke='%238B8B8B' stroke-width='3' stroke-dasharray='10 3'/%3E%3C/svg%3E");
  background-size: 20px 20px;
  background-repeat: repeat;

  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-pixel {
  font-family: var(--font-galmuri);
  letter-spacing: -0.5px;
}

html,
body {
  height: 100%;
}
