@import 'tailwindcss';

:root {
  /* 배경 */
  --bg-primary: #777777;
  --bg-grid: #8e8e8e;
  --bg-grid-size: 15px;

  /* 폰트 */
  --font-primary: 'Dotum', '돋움', sans-serif;
}

@media (min-width: 768px) {
  body {
    background-color: var(--bg-primary);
    background-image:
      linear-gradient(var(--bg-grid) 1px, transparent 1px),
      linear-gradient(90deg, var(--bg-grid) 1px, transparent 1px);
    background-size: var(--bg-grid-size) var(--bg-grid-size);
    font-family: var(--font-primary);
  }
}
